<h2>Currency</h2>
        <form>
                from: <select name="currency_have">
                      {% for currency in currencies %}
                          <option value="{{currency}}">{{currency}}</option>
                      {% endfor %}
                      </select>

                to: <select name="currency_to">
                     {% for currency in currencies %}
                         <option value="{{currency}}">{{currency}}</option>
                     {% endfor %}

                    </select>
                <input type="submit" value="Submit">
        </form>
        1 {{currency_have}} = {{currency_to}} {{rate}}